@import "lib/custom.bootstrap/custom.bootstrap.import.less";
@import "lib/custom.bootstrap/custom.bootstrap.mixins.import.less";
@import "lib/lesshat-prefixed.less";

* {
	outline: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

.lh-selection(~'background-color: #333; color: white;');

.monospace {
	font-family: @font-family-monospace;
}

#wordTable {
	width: 100%;
	table-layout: fixed;
	margin: 10px;

	td {
		width: 25%;
		padding: 25px 10px;
		text-align: center;
		border: 1px solid lightgray;
		letter-spacing: 1px;

		&.kill {
			background: rgb(75,75,75);
			color: white;
		}

		&.neutral {
			background: rgb(169,162,122);
			color: white;
		}

		&.team1 {
			background: rgb(187,75,78);
			color: white;
		}

		&.team2 {
			background: rgb(94,154,78);
			color: white;
		}
	}
}

.clickable {
	cursor: pointer;
}
