@import "lib/custom.bootstrap/custom.bootstrap.mixins.import.less";
@import "lib/lesshat-prefixed.less";

* {
	outline: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

.lh-selection(~'background-color: #333; color: white;');

#wordTable {
	width: 100%;
	table-layout: fixed;

	td {
		width: 25%;
		padding: 25px 10px;
		text-align: center;
		color: white;
		border: 1px solid lightgray;

		&.kill {
			background: #333;
		}

		&.neutral {
			background: rgb(169,162,122);
		}

		&.team1 {
			background: rgb(187,75,78);
		}

		&.team2 {
			background: rgb(94,154,78);
		}
	}
}