<template name="game">
	<div id="board" class="container">
		<h2>Game of Words</h2>
		<div class="input-group" style="margin-bottom: 10px;">
			<span class="monospace input-group-addon" style="background-color: white;">Plebians:</span>
			<input id="plebian" type="text" disabled class="form-control" value="{{urlFor 'game'}}">
			<span class="input-group-btn">
				<button class="btn btn-default clipboardBtn" data-clipboard-target="#plebian" data-toggle="tooltip" data-trigger="manual" title="Copied!">
					<i class="fa fa-clipboard"></i>
				</button>
			</span>
		</div>
		{{#if secret}}
			<div class="input-group" style="margin-bottom: 10px;">
				<span class="monospace input-group-addon" style="background-color: white;">Oracles:</span>
				<input id="oracle" type="text" disabled class="form-control" value="{{urlFor 'gameOracle'}}">
				<span class="input-group-btn">
					<button class="btn btn-default clipboardBtn" data-clipboard-target="#oracle" data-toggle="tooltip" data-trigger="manual" title="Copied!">
						<i class="fa fa-clipboard"></i>
					</button>
				</span>
			</div>
		{{/if}}
		<hr>
		{{{wordTable}}}
		{{#if secret}}
			<hr>
			<div class="well well-sm">
				<ul id="actionLog" class="list-inline">
					{{#each action in actions}}
						<li class="{{action.team}}">{{action.word}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
	</div>
</template>