<template name="game">
	{{> banner}}
	<div id="board" class="container">
		{{#if showTeams}}
			<div class="well well-sm">
				<p class="currentState centerText">
					<span class="{{firstPlayerTeam}}">{{firstPlayerTeamPlayers}}</span>
					<span class="neutral">vs. </span>
					<span class="{{secondPlayerTeam}}">{{secondPlayerTeamPlayers}}</span>
				</p>
			</div>
		<hr>
		{{/if}}
		{{{wordTable}}}
		{{#if actions}}
			<hr>
			<div class="well well-sm">
				<ul class="list-inline currentState">
					{{#each action in actions}}
						<li class="{{action.team}}">{{action.word}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
		{{#if firstPlayerTeam}}
			<hr>
			<div class="well well-sm">
				<p class="currentState">
					<span class="neutral">WORDS LEFT: </span>
					<span class="{{firstPlayerTeam}}">{{firstPlayerRemainingCount}}</span>
					<span class="neutral">|</span>
					<span class="{{secondPlayerTeam}}">{{secondPlayerRemainingCount}}</span>
					<span class="neutral">| {{neutralRemainingCount}}</span>
				</p>
			</div>
		{{/if}}
		<hr>
		<div class="input-group" style="margin-bottom: 10px;">
			<span class="monospace input-group-addon" style="background-color: white;">Plebians:</span>
			<input id="plebian" type="text" readonly class="form-control" value="{{urlFor 'game'}}">
			<span class="input-group-btn">
				<button class="btn btn-default clipboardBtn" data-clipboard-target="#plebian" data-toggle="tooltip" data-trigger="manual" title="Copied!">
					<i class="fa fa-clipboard"></i>
				</button>
			</span>
		</div>
		{{#if secret}}
			<div class="input-group" style="margin-bottom: 10px;">
				<span class="monospace input-group-addon" style="background-color: white;">Oracles:</span>
				<input id="oracle" type="text" readonly class="form-control" value="{{urlFor 'gameOracle'}}">
				<span class="input-group-btn">
					<button class="btn btn-default clipboardBtn" data-clipboard-target="#oracle" data-toggle="tooltip" data-trigger="manual" title="Copied!">
						<i class="fa fa-clipboard"></i>
					</button>
				</span>
			</div>
		{{/if}}
	</div>
</template>
